
  body {
    background-color: #4bef76;
  }
  h1 {
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: white;
  }

  h2{
    font-family: 'Roboto', san-serif;
    font-size: 2rem;
    text-align: center;
    color: purple;
  }
  img{
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  p{
    font-size: 20px;
    font-family: courier;
    color: #c24451;
  }
  ul{
    text-align: center;
    font-size: 25px;
    border-style: solid;
    border-width:5px;
  }
  table{
    margin-left: auto;
    margin-right: auto;

  }

  iframe{
      align="center";

  }
]
